<a href="https://github.com/todvora" data-display-authors="false" data-skin="dark" data-count="4" data-user="todvora" class="gh-events">Github events by @todvora</a>

<script type="text/javascript">
if (window.matchMedia("screen and (min-width:1000px)").matches) {
  (function() {
    var gh = document.createElement('script'); gh.type = 'text/javascript'; gh.async = true;
    gh.src = 'https://www.tomas-dvorak.cz/gh-events-widget/lib/gh-events-widget.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gh, s);
  })();
}
</script>
