<header class="site-header">
  <div class="wrapper">
    <h1><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
    <h2>{{ site.subtitle }}</h2>
    <nav>
        <a class="page-link" href="{{site.baseurl }}/about/">About</a>
        {% if site.github_username %}
        <a href="https://github.com/{{ site.github_username }}" target="_blank">GitHub</a>
        {% endif %}
        <a class="page-link" href="{{site.baseurl }}/search/">Search</a>
        <a class="page-link" href="{{site.baseurl }}/sitemap/">Sitemap</a>
    </nav>
    <div class="twitter-feed">
      {% include twitter-feed.html %}
    </div>
</div>
</header>
