a.previous:before {
  content: "< ";
}

a.next:after {
  content: " >";
}

.pagination a {
  padding: 10px;
}

.pagination a.disabled {
  color: gray;
}

.pagination a.disabled:hover {
  text-decoration: none;
}

.pagination a.disabled {
  color: gray;
}

.pagination a.disabled:hover {
  text-decoration: none;
}
